  
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing:border-box;
}

.overall{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://st.depositphotos.com/2200898/4786/v/950/depositphotos_47861577-stock-illustration-seamless-vintage-tiny-flower-pattern.jpg);
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    width: 1000px;
    background-color: #5D4E6D;
    color: white;
}
.paragraph-info{
    background-color: #9cbfa7;
    color: #4f345a;
    border: 3px dotted #4f345a;
    font-size: 15px;
    text-indent: 1.0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#test-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li{
    list-style: none;
 }
 #user-results{
    background-color: #9cbfa7;
     color: #4f345a;
 }

.extra-stuff{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

img{
    float: left;
    border: 3px dotted #9cbfa7;
}
